stellar-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  contain: strict;
  fill: currentColor;
  box-sizing: content-box !important;
}

stellar-icon .icon-inner,
stellar-icon svg {
  display: block;
  height: 100%;
  width: 100%;
}


/* Icon RTL
 * -----------------------------------------------------------
 */

 stellar-asset.flip-rtl .icon-inner {
  transform: scaleX(-1);
}
