:host, :host *, :host *:before, :host *:after {
  box-sizing: border-box;
}

:host {
  display: none;
  animation-name: fadeInUp;
  animation-timing-function: var(--ease);
  animation-duration: 350ms;
  animation-fill-mode: both;
  transform: translate3d(0, 15px, 0);
  opacity: 0;
}

:host([open]) {
  display: block;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 15px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
