:host {
  --width: 800px;
  --height: 800px;
  display: block;
  position: relative;
}

:host div.card {
  position: relative;
  display: block;
  width: auto;
  height: auto;
  margin: auto;
  overflow: hidden;
}

:host div.card section {
  height: inherit;
  display: block;
  position: relative;
  padding-top: 0 !important;
}

:host web-audio-visualizer {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  pointer-events: none;
  z-index: 2;
}

:host web-audio-visualizer[type="circle"] {
  height: 100%;
}


:host web-audio-visualizer[type="bars2"] {
  width: 80%;
  left: 10%;
  right: 10%;
}

:host stellar-image,
:host stellar-360-image,
:host stellar-video,
:host stellar-360-video {
  --gradient: radial-gradient(circle at 30% 107%, var(--theme-base5) 0%, var(--theme-base8) 5%, var(--theme-complement8) 45%, var(--theme-complement5) 60%, var(--theme-base5) 90%);
  position: relative;
  z-index: 1;
  display: block;
}

:host stellar-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  --border-radius: 0;
}

:host stellar-progress .progress {
  border: 0;
}

:host h3 {
  color: white;
  margin: 0;
}

:host stellar-unit {
  position: absolute;
  bottom: 1rem;
  z-index: 4;
  color: white !important;
  font-weight: 700;
}

:host stellar-unit.current {
  left: 1rem;
}

:host stellar-unit.duration {
  right: 1rem;
}

:host .transcript {
  position: absolute;
  bottom: 0;
  width: 70%;
  left: 15%;
  z-index: 5;
  pointer-events: none;
}

:host .button {
  position: absolute;
  transition: all .35s var(--ease) 0s, background .175s var(--ease) 0s;
  width: 9rem;
  height: 9rem;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 100%;
  padding: 0;
  border: 0;
  appearance: none;
  background: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  outline: 0;
  cursor: pointer;
  padding-left: 1rem;
  mix-blend-mode: soft-light;
}

:host .button:hover,
:host .button:focus {
  transform: translate(50%, -50%) scale(1.1);
  mix-blend-mode: hard-light;
}

:host .button stellar-asset {
  font-size: 7rem;
  margin: auto;
  display: block;
}

:host .button.loading {
  padding: 0;
}

:host .button.playing {
  width: 2.8rem;
  height: 2.8rem;
  top: 2.2rem;
  right: 1.8rem;
  padding: 0;
  background: transparent;
  transition: all .35s var(--ease) 0s, background .175s var(--ease) 0s;
}

:host .button.playing stellar-asset {
  font-size: 2.8rem;
}

:host::after {
  content: "";
  display: block;
  width: 100%;
  height: 8rem;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;

}
