@font-face {
  font-family: "Exodus Display";
  src: url("exodus-display-sharpen.woff2") format("woff2"),
       url("exodus-display-sharpen.woff") format("woff"),
       url("exodus-display-sharpen.ttf")  format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Exodus Display";
  src: url("exodus-display-sharpen-bold.woff2") format("woff2"),
       url("exodus-display-sharpen-bold.woff") format("woff"),
       url("exodus-display-sharpen-bold.ttf")  format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Exodus Display";
  src: url("exodus-display-shino.woff2") format("woff2"),
       url("exodus-display-shino.woff") format("woff"),
       url("exodus-display-shino.ttf")  format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Exodus Display";
  src: url("exodus-display-shino-bold.woff2") format("woff2"),
       url("exodus-display-shino-bold.woff") format("woff"),
       url("exodus-display-shino-bold.ttf")  format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Exodus Display";
  src: url("exodus-display-striped.woff2") format("woff2"),
       url("exodus-display-striped.woff") format("woff"),
       url("exodus-display-striped.ttf")  format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Exodus Display";
  src: url("exodus-display-striped-bold.woff2") format("woff2"),
       url("exodus-display-striped-bold.woff") format("woff"),
       url("exodus-display-striped-bold.ttf")  format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Exodus Display";
  src: url("exodus-display-subtract.woff2") format("woff2"),
       url("exodus-display-subtract.woff") format("woff"),
       url("exodus-display-subtract.ttf")  format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Exodus Display";
  src: url("exodus-display-subtract-bold.woff2") format("woff2"),
       url("exodus-display-subtract-bold.woff") format("woff"),
       url("exodus-display-subtract-bold.ttf")  format("truetype");
  font-weight: 800;
  font-display: swap;
}

.exodus-display {
  font-family: "Exodus Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
