stellar-tabs {
  --font-size: 1rem;
  font-size: var(--font-size);
  display: block;
  position: relative;
  margin: 0;
  width: auto;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: mandatory;
  scroll-snap-points-x: repeat(10%);
  font-family: var(--font-primary);
  border-bottom: 1px solid var(--theme-base1);
  background: white;
  height: 4em;
}

stellar-tabs[size="tiny"] {
  --font-size: .75rem;
}

stellar-tabs[size="small"] {
  --font-size: .875rem;
}

stellar-tabs[size="medium"] {
  --font-size: 1.25rem;
}

stellar-tabs[size="large"] {
  --font-size: 1.5rem;
}

stellar-tabs .indicator {
  display: block;
  position: absolute;
  bottom: -.1em;
  left: var(--tab-left, 0);
  background: var(--theme-base5);
  width: var(--tab-width, 0);
  height: 0.4em;
}

stellar-tabs .indicator.ready {
  transition: all .35s var(--ease);
}

stellar-tabs .tab-wrap {
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

stellar-tabs .tab-list {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  white-space: nowrap;
  color: var(--theme-base9);
  height: 100%;
  width: 100%;
}

stellar-tabs .tab-wrap[scrollable="false"] {
  overflow: visible;
}

stellar-tabs .tab-wrap[height="flex"],
stellar-tabs .tab-wrap[height="flex"] .tab-list {
  height: 100%;
}

stellar-tabs .tab-wrap[height="flex"] stellar-tab {
  height: 100%;
}

stellar-tabs .tab-wrap[invert] stellar-tab {
  vertical-align: middle;
}

stellar-tabs .tab-wrap[invert] .tab-list {
  vertical-align: middle;
  color: white !important;
}

stellar-tabs .tab-wrap[invert] .tab-list > stellar-tab {
  color: white !important;
}

stellar-tabs .tab-wrap[invert] .tab-list > stellar-tab::after {
  display: none !important;
}
stellar-tabs[block] {
  overflow: hidden;
  border: 1px solid var(--theme-base0);
  width: 100%;
}

stellar-tabs[block] .tab-wrap {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

stellar-tabs[block] .tab-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 3px;
}

stellar-tabs[block] .tab-list stellar-tab {
  width: 100%;
  flex: 12 12 100%;
}

stellar-tabs[block] stellar-tab[open="true"] {
  color: var(--theme-base5) !important;
}

stellar-tabs[block] .indicator {
  height: calc(100% - 6px);
  background: var(--theme-base1);
  top: 3px;
  bottom: 3px;
  transition: all .35s var(--ease);
}
