stellar-asset {
	display: block;
	transform-origin: .5em .5em;
}

stellar-asset .icon-wrap {
	display: flex;
}

stellar-asset[block],
stellar-asset[block] ion-icon,
stellar-asset[block] ion-icon .icon-inner,
stellar-asset[block] ion-icon .icon-inner svg {
	width: 100%;
	height: auto;
}
