stellar-avatar {
  display: inline-block;
  width: var(--avatar-size);
  max-height: var(--avatar-size);
  font-size: var(--avatar-font-size);
  --avatar-color: var(--theme-base5, var(--red5));
  --avatar-color-dark: var(--theme-base6, var(--red6));
  --avatar-font-color: var(--red0);
  --avatar-size: 2.2em;
  --avatar-font-size: 1.8rem;
  filter: drop-shadow(var(--drop-shadow));
}

stellar-avatar[size='large'] {
  --avatar-font-size: 3.6rem;
}

stellar-avatar[size='medium'] {
  --avatar-font-size: 1.8rem;
}

stellar-avatar[size='small'] {
  --avatar-font-size: 1rem;
}

stellar-avatar[size='tiny'] {
  --avatar-font-size: .8rem;
}

stellar-avatar > .wrapper {
  display: block;
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 2.2em;
  font: inherit;
  font-size: var(--avatar-font-size);
}

stellar-avatar > .wrapper > .content {
  overflow: hidden;
  position: relative;
}

stellar-avatar > .wrapper > .content > .spacer {
  display: block;
  background: var(--avatar-color);
  background: linear-gradient(45deg, var(--avatar-color) 0%, var(--avatar-color-dark) 100%);;
  padding-top: 100%;
  width: 100%;
  height: 0;
}

stellar-avatar > .wrapper > .content > .letter {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: lowercase;
  line-height: 100%;
  padding: 0.35em 0.4em 0.2em;
  color: var(--avatar-font-color);
  font-size: var(--avatar-font-size);
  font-weight: 600;
  text-shadow: 0 0 2px rgba(0, 0, 0, .4);
}

stellar-avatar > .wrapper > .content > img {
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: inherit;
  background: var(--white);
  width: 100%;
  height: auto;
  color: transparent;
  object-fit: cover;
}

/* Shapes */

/* Shapes: Square */
stellar-avatar[shape='circle'] .wrapper,
stellar-avatar[shape='circle'] .wrapper .content,
stellar-avatar[shape='circle'] .wrapper .spacer {
  border-radius: 100%;
}

/* Shapes: Rectangle */
stellar-avatar[shape='rectangle'] .wrapper .spacer {
  padding-top: 60%;
}

/* Shapes: Diamond */
stellar-avatar[shape='diamond'] .wrapper .spacer {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

/* Shapes: Diamond */
stellar-avatar[shape='hexagon'] .wrapper .spacer {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

/* Shapes: Star */
stellar-avatar[shape='star'] .wrapper .spacer {
  clip-path: polygon(50% 0%, 64% 27%, 98% 35%, 74% 57%, 79% 91%, 50% 76%, 21% 91%, 25% 57%, 2% 35%, 36% 28%);
}

/* Shapes: Message */
stellar-avatar[shape='message'] .wrapper .spacer {
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);

}

/* Processing */
stellar-avatar[processing] .wrapper .letter {
  background: url("spinner.svg") no-repeat 50% 50%/50% 50%;
  color: transparent;
}

stellar-avatar[processing][size='large'] .wrapper .letter {
  background-size: 32px;
}

stellar-avatar[processing][size='medium'] .wrapper .letter {
  background-size: 16px;
}
