stellar-accordion + stellar-accordion,
stellar-item + stellar-accordion,
stellar-accordion + stellar-item {
  border-top: 1px solid var(--gray1);
}


stellar-dropdown + stellar-dropdown {
  margin-left: 3rem !important;
}


stellar-header[invert] stellar-dropdown {
  --dropdown-color: white;
  --dropdown-hover-color: white;
}

copy-wrap + copy-wrap,
copy-wrap + stellar-grid,
stellar-grid + copy-wrap {
  margin-top: 4rem;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 1em !important;
}
