:host, :host *, :host *:before, :host *:after {
	box-sizing: border-box;
}

:host {
	display: block;
	transform-origin: .5em .5em;
}

:host .icon-wrap {
	display: flex;
}

/*
:host([block]),
:host([block]) stellar-icon,
:host([block]) stellar-icon .icon-inner,
:host([block]) stellar-icon .icon-inner svg {
	width: 100%;
	height: auto;
} */
