@font-face {
  font-family: "Hanken Sans";
  src: url("hanken-sans-light.woff2") format("woff2"),
       url("hanken-sans-light.woff") format("woff"),
       url("hanken-sans-light.ttf")  format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Sans";
  src: url("hanken-sans-light-italic.woff2") format("woff2"),
       url("hanken-sans-light-italic.woff") format("woff"),
       url("hanken-sans-light-italic.ttf")  format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Sans";
  src: url("hanken-sans-regular.woff2") format("woff2"),
       url("hanken-sans-regular.woff") format("woff"),
       url("hanken-sans-regular.ttf")  format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Sans";
  src: url("hanken-sans-regular-italic.woff2") format("woff2"),
       url("hanken-sans-regular-italic.woff") format("woff"),
       url("hanken-sans-regular-italic.ttf")  format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Sans";
  src: url("hanken-sans-medium.woff2") format("woff2"),
       url("hanken-sans-medium.woff") format("woff"),
       url("hanken-sans-medium.ttf")  format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Sans";
  src: url("hanken-sans-medium-italic.woff2") format("woff2"),
       url("hanken-sans-medium-italic.woff") format("woff"),
       url("hanken-sans-medium-italic.ttf")  format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Sans";
  src: url("hanken-sans-bold.woff2") format("woff2"),
       url("hanken-sans-bold.woff") format("woff"),
       url("hanken-sans-bold.ttf")  format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Sans";
  src: url("hanken-sans-bold-italic.woff2") format("woff2"),
       url("hanken-sans-bold-italic.woff") format("woff"),
       url("hanken-sans-bold-italic.ttf")  format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Sans";
  src: url("hanken-sans-extra-bold.woff2") format("woff2"),
       url("hanken-sans-extra-bold.woff") format("woff"),
       url("hanken-sans-extra-bold.ttf")  format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Sans";
  src: url("hanken-sans-extra-bold-italic.woff2") format("woff2"),
       url("hanken-sans-extra-bold-italic.woff") format("woff"),
       url("hanken-sans-extra-bold-italic.ttf")  format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: "Hanken Sans";
  src: url("hanken-sans-black.woff2") format("woff2"),
       url("hanken-sans-black.woff") format("woff"),
       url("hanken-sans-black.ttf")  format("truetype");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Hanken Sans";
  src: url("hanken-sans-black-italic.woff2") format("woff2"),
       url("hanken-sans-black-italic.woff") format("woff"),
       url("hanken-sans-black-italic.ttf")  format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}


:root {
  --font-heading: "Hanken Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-body: "Hanken Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.hanken-sans {
  font-family: "Hanken Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
