stellar-step {
	display: block;
	width: 100%;
	font-weight: bold;
	height: inherit;
	position: relative;
	text-decoration: none;
	cursor: default;
	margin-right: calc(-2rem + 2px);
	clip-path: polygon(calc(100% - 2rem) 0%, 100% 50%, calc(100% - 2rem) 100%, 0% 100%, 2rem 50%, 0% 0%);
}

stellar-step button {
	width: 100%;
	appearance: none;
	padding: 0;
	border: 0;
}

stellar-step stellar-button {
	position: relative;
}

stellar-steps stellar-step:first-of-type {
	clip-path: polygon(calc(100% - 2rem) 0%, 100% 50%, calc(100% - 2rem) 100%, 0% 100%, 0% 0%);
}

stellar-steps stellar-step:last-of-type {
	clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 2rem 50%, 0% 0%);
}

stellar-step button.button:active {
	transform: none;
}

stellar-step[open] button .content {
	position: relative;
	z-index: 1;
}

stellar-step button.button::after {
	content: "";
	position: absolute;
	width: 140%;
	top: 0;
	left: -30%;
	right: 0;
	bottom: 0;
	z-index: 0;
	opacity: 0;
	background: repeating-linear-gradient(45deg, var(--theme-base1), var(--theme-base1) 2rem, var(--theme-base2) 0, var(--theme-base2) 4rem);
	mix-blend-mode: multiply;
	animation: moveStripes 10s linear both infinite;
}

stellar-step[open] button.button::after {
	opacity: 1;
}

@keyframes moveStripes {
	from {
		background-position-x: 0;
	}

	to {
		background-position-x: 5.5rem;
	}
}
