stellar-animate-text {
  display: inline-block;
  transition: opacity 100ms linear 50ms;
  opacity: 0;
}

stellar-animate-text.hydrated {
  opacity: 1;
}

stellar-animate-text[method*="weight"] {
  animation: weight 3.3s linear infinite alternate;
}

stellar-animate-text[method*="glitch"] {
  animation: glitch 3s infinite alternate;
  mix-blend-mode: soft-light;
}

stellar-animate-text[method*="lettering"] h1 {
  animation: lettering-h1 0.65s var(--ease) 1 forwards;
  letter-spacing: 0.1em;
}

stellar-animate-text[method*="lettering"] h2,
stellar-animate-text[method*="lettering"] h3,
stellar-animate-text[method*="lettering"] h4 {
  animation: lettering-h2 0.65s var(--ease) 1 forwards;
  letter-spacing: 0.2em;
}

stellar-animate-text[method*="lettering"] h5 {
  animation: lettering-h5 0.65s var(--ease) 1 forwards;
  letter-spacing: 0.4em;
}

stellar-animate-text[method*="lettering"] h6 {
  animation: lettering-h6 0.65s var(--ease) 1 forwards;
  letter-spacing: 0.4em;
}

stellar-animate-text[method*="lettering"] p {
  animation: lettering-p 0.65s var(--ease) 1 forwards;
}

@keyframes lettering-h1 {
  0% {
    letter-spacing: 0.1em;
  }
  100% {
    letter-spacing: 0.02em;
  }
}

@keyframes lettering-h2 {
  0% {
    letter-spacing: 0.2em;
  }
  100% {
    letter-spacing: 0.01em;
  }
}

@keyframes lettering-h5 {
  0% {
    letter-spacing: 0.4em;
  }
  100% {
    letter-spacing: 0.0225em;
  }
}

@keyframes lettering-h6 {
  0% {
    letter-spacing: 0.4em;
  }
  100% {
    letter-spacing: 0.025em;
  }
}


@keyframes weight {
  0% {
    font-weight: 100;
  }
  20% {
    font-weight: 300;
  }
  40% {
    font-weight: 400;
  }
  60% {
    font-weight: 500;
  }
  80% {
    font-weight: 600;
  }
  100% {
    font-weight: 700;
  }
}

@keyframes glitch {
  0% {
    transform: skew(-86deg);
  }
  5% {
    transform: skew(-37deg);
  }
  10% {
    transform: skew(75deg);
  }
  15% {
    transform: skew(-42deg);
  }
  20% {
    transform: skew(-79deg);
  }
  25% {
    transform: skew(-82deg);
  }
  30% {
    transform: skew(7deg);
  }
  35% {
    transform: skew(-7deg);
  }
  40% {
    transform: skew(24deg);
  }
  45% {
    transform: skew(-3deg);
  }
  50% {
    transform: skew(-72deg);
  }
  55% {
    transform: skew(72deg);
  }
  60% {
    transform: skew(-60deg);
  }
  65% {
    transform: skew(-40deg);
  }
  70% {
    transform: skew(75deg);
  }
  75% {
    transform: skew(-51deg);
  }
  80% {
    transform: skew(-84deg);
  }
  85% {
    transform: skew(45deg);
  }
  90% {
    transform: skew(-27deg);
  }
  95% {
    transform: skew(-21deg);
  }
}
