:host, :host *, :host *:before, :host *:after {
  box-sizing: border-box;
}

:host {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :host .highcharts-background {
    fill: var(--black) !important
  }

  :host .highcharts-title,
  :host .highcharts-subtitle,
  :host .highcharts-legend-item text,
  :host .highcharts-axis-labels text,
  :host .highcharts-axis-title {
    fill: var(--white) !important
  }

  :host .highcharts-legend-box {
    fill: transparent !important
  }

  :host .highcharts-grid path,
  :host .highcharts-axis path {
    stroke: rgba(255, 255, 255, 0.2) !important
  }

  :host .highcharts-tooltip text {
    fill: var(--black) !important
  }

  :host .highcharts-series rect {
    stroke: var(--black) !important
  }
}
