:host {
    --position: var(--position, 0);
    display: block;
    width: 100%;
    height: 100%;
    max-width: var(--width);
    max-height: var(--height);
}

:host .background {
    background-position: var(--position);
    background-size: cover;
    width: var(--width);
    height: var(--height);
    display: block;
}
