:host, :host *, :host *:before, :host *:after {
    box-sizing: border-box;
}

:host {
	display: block;
	padding: 2rem;
	background-color: var(--theme-base4);
}

:host .callout-wrap {
	display: flex;
	align-items: center;
}

:host(.db) .callout-wrap {
	display: block;
}

:host ::slotted(*) {
	color: var(--gray9);
}

:host([dark]) {
	background-color: var(--theme-base6);
}
