:host {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
}

:host stellar-chart {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--size);
  width: var(--size);
  display: none;
  --background: transparent !important;
}

:host stellar-chart.db {
  display: block;
}

:host .above {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: var(--size);
  width: var(--size);
}
