stellar-accordion + stellar-accordion,
stellar-item + stellar-accordion,
stellar-accordion + stellar-item {
  border-top: 1px solid var(--gray1);
}

stellar-dropdown + stellar-dropdown {
  margin-left: 3rem !important;
}

stellar-header[invert] stellar-dropdown {
  --dropdown-color: white;
  --dropdown-hover-color: white;
}

copy-wrap + copy-wrap,
copy-wrap + stellar-grid,
stellar-grid + copy-wrap {
  margin-top: 4rem;
}

a {
  color: var(--theme-base6);
}

a:hover,
a:focus {
  color: var(--theme-base8);
}

hr {
  margin: 3rem auto;
  border: 0;
  height: 1px;
  background-color: var(--gray1);
}

hr.vertical {
  width: 1px;
  height: 2rem;
  margin: -.75rem 1rem;
  display: inline-block;
}

*[columns] {
  column-count: 2;
  column-gap: 3rem;
  column-rule: 1px solid var(--theme-base5);
  column-span: all;
}

*[columns="3"] {
  column-count: 3;
}

h4 + .hydrated {
  margin-top: var(--ms-5);
}
