stellar-accordion + stellar-accordion,
stellar-item + stellar-accordion,
stellar-accordion + stellar-item {
  border-top: 1px solid var(--gray1);
}

stellar-dropdown + stellar-dropdown {
  margin-left: 3rem !important;
}

stellar-header[invert] stellar-dropdown {
  --dropdown-color: white;
  --dropdown-hover-color: white;
}

copy-wrap + copy-wrap,
copy-wrap + stellar-grid,
stellar-grid + copy-wrap {
  margin-top: 4rem;
}

a {
  color: var(--theme-base6);
}

a:hover,
a:focus {
  color: var(--theme-base8);
}

hr {
  margin: 3rem auto;
  border: 0;
  height: 1px;
  background-color: var(--gray1);
}

hr.vertical {
  width: 1px;
  height: 2rem;
  margin: -0.75rem 1rem;
  display: inline-block;
}

*[columns] {
  column-count: 2;
  column-gap: 3rem;
  column-rule: 1px solid var(--theme-base5);
  column-span: all;
}

*[columns="3"] {
  column-count: 3;
}

h4 + .hydrated {
  margin-top: var(--ms-5);
}

img.medium-zoom-image {
  object-fit: cover;
}

ul.group,
ol.group {
  padding: 0;
  margin: 0;
  list-style: none !important;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto 1rem auto 1rem auto;
  grid-template-columns: auto auto auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 1rem;
  text-align: center;
  width: 100%;
}

ul.group li,
ol.group li {
  margin: 0;
}

canvas[width="80"][height="80"] {
  display: none;
}

.layer-children {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.layer-children > * {
  grid-column: 1;
  grid-row: 1;
}
