:root {
  --ms-ratio: var(--major-third);
  --ms-base: 10px;
}

html {
  font-size: var(--ms-base);
  line-height: var(--ms-ratio);
}

@media (min-width: 550px) {
  :root {
    --ms-base: 11px;
  }
}

@media (min-width: 700px) {
  :root {
    --ms-base: 12px;
  }
}

@media (min-width: 800px) {
  :root {
    --ms-base: 13px;
  }
}

@media (min-width: 900px) {
  :root {
    --ms-base: 14px;
  }
}

@media (min-width: 1000px) {
  :root {
    --ms-base: 15px;
  }
}

@media (min-width: 1200px) {
  :root {
    --ms-base: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
p,
.font-primary {
  font-family: var(--font-heading);
}

h6,
.font-secondary {
  font-family: var(--font-subheading);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  max-width: 23.5em;
  display: block;
  color: var(--black);
  line-height: calc(var(--ms-ratio) * 0.95);
  padding-top: var(--ms-5);
}

html.dark-mode h1,
html.dark-mode h2,
html.dark-mode h3,
html.dark-mode h4,
html.dark-mode h5,
html.dark-mode h6,
html.dark-mode p {
  color: var(--white);
}


h1,
.fs1 {
  font-size: var(--ms9);
}

h2,
.fs2 {
  font-size: var(--ms8);
  padding: calc(var(--ms0) * 0.25) 0;
}

h3,
.fs3 {
  font-size: var(--ms7);
  padding: calc(var(--ms0) * 0.25) 0;
}

h4,
.fs4 {
  font-size: var(--ms6);
}

h5,
.fs5 {
  font-size: var(--ms5);
  padding: calc(var(--ms0) * 0.75) 0;
}

h6,
.fs6 {
  font-size: var(--ms4);
}

p,
.fs7 {
  line-height: var(--ms-ratio);
  font-size: var(--ms0);
  padding: calc(var(--ms0) * .3333) 0;
}

small,
.fs8 {
  line-height: var(--ms-ratio);
  font-size: 0.8em;
  padding: calc(var(--ms0) * .25) 0;
}

h1 + h2 {
  margin-top: var(--ms0);
  padding: 0;
}

h2 + h3,
h3 + h4 {
  margin-top: var(--ms1);
  padding: 0;
}


h4 + h5 {
  margin-top: var(--ms0);
  padding: 0;
}

h5 + h6 {
  margin-top: calc(var(--ms1) * .5)
}

h1 + p {
  margin-top: var(--ms3);
}

h2 + p {
  margin-top: var(--ms0);
}

h3 + p {
  margin-top: var(--ms1);
}

h4 + p {
  margin-top: calc(var(--ms0) * .3333);
}

h5 + p {
  margin-top: calc(var(--ms0) * .5);
}

h6 + p {
  margin-top: calc(var(--ms0) * .625)
}

p + p {
  margin-top: calc(var(--ms-3) * 1.15);
}

p + h1 {
  margin-top: var(--ms-2);
}

p + h2 {
  margin-top: var(--ms0);
}

p + h3 {
  margin-top: var(--ms-1);
}

p + h4 {
  margin-top: var(--ms2);
}

p + h5 {
  margin-top: var(--ms3);
}

p + h6 {
  margin-top: var(--ms5);
}
