:host, :host *, :host *:before, :host *:after {
  box-sizing: border-box;
}

:host {
  display: block;
  position: relative;
  overflow: hidden;
  --border-radius: 0.3rem;
  --time: 124;
  --negative-time: -124;
}

:host .blur-content {
  display: block;
  height: 100%;
}

:host([editable]) {
  cursor: pointer;
}

:host .progress {
  display: block;
  position: relative;
  transition: all 0.25s var(--ease) 0ms;
  background: var(--gray0);
  width: 100%;
  height: 0.6rem;
  border-radius: var(--border-radius);
  overflow: hidden;
}

:host([editable]:hover) .progress {
  height: 2.4rem;
}

:host .status,
:host .secondary {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -100%;
  transition: all 0.35s var(--ease, ease-in-out) 0ms;
  background: var(--theme-base5, var(--gray5));
  width: 100%;
  z-index: 2;
}

:host .secondary {
  background: var(--theme-base3, var(--gray3));
  z-index: 1;
}

:host([slender]) .progress {
  border: 0;
  height: 0.2rem;
}

:host([slender][editable]:hover) .progress {
  height: 0.4rem;
}

:host([noease]) .progress,
:host([noease]) .status,
:host([noease]) .secondary {
  transition: none !important;
}

:host([indeterminate]) {
  height: 100px;
  width: 100px;
}

:host([indeterminate]) svg {
  transform: rotate(0deg);
  stroke: var(--theme-base5);
  animation: rotate var(--ease) 9.2s infinite;
}

:host([indeterminate]) circle {
  stroke-dasharray: var(--time);
  stroke-dashoffset: var(--time);
  animation: load var(--ease) 2.3s infinite;
}


:host-context(.dark-mode):host .progress {
  background: var(--theme-base9);
}

:host-context(.dark-mode):host .secondary {
  background: var(--theme-base7, var(--gray7));
  z-index: 1;
}

:host-context(.dark-mode):host circle {
  animation: load-dark var(--ease) 2.3s infinite;
}

@keyframes load {
  0% {
    stroke: var(--theme-complement7);
  }

  50% {
    stroke-dashoffset: 0;
    stroke: var(--theme-base5);
  }

  100% {
    stroke-dashoffset: var(--negative-time);
    stroke: var(--theme-base3);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes load-dark {
  0% {
    stroke: var(--theme-complement5);
  }

  50% {
    stroke-dashoffset: 0;
    stroke: var(--theme-base5);
  }

  75% {
    stroke: var(--theme-base7);
  }

  100% {
    stroke-dashoffset: var(--negative-time);
    stroke: var(--theme-complement7);
  }
}
