:host, :host *, :host *:before, :host *:after {
  box-sizing: border-box;
}

:host {
  --item-size: 2.356em;
  --font-size: 1.4rem;
  display: block;
  width: 100%;
  height: var(--item-size);
  color: var(--theme-base9);
  font-family: inherit;
  visibility: visible !important;
  font-size: var(--font-size);
  line-height: 1.4;
  text-align: left;
  position: relative;
}

:host([fit]) {
  --item-size: auto;
}

:host .button .content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  width: 100%;
  text-align: left;
}

:host([wrap]) .button .content {
  white-space: normal;
  text-align: left;
  width: calc(100% - var(--ms5));
}

:host([danger]) .button {
  color: var(--red5);
}

:host a.button,
:host button.button,
:host stencil-route-link a {
  text-decoration: none;
  appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: 0;
  border: 0;
  background: transparent;
  padding: 0 1em;
  width: 100%;
  height: calc(var(--item-size) - 1px);
  color: currentColor;
  font-weight: 500;
  font-size: inherit;
}

:host stencil-route-link {
  padding: 0;
}

:host .button a {
  color: inherit;
  background: inherit;
  text-decoration: none;
}


:host .button ::slotted(*[block]) {
  grid-column: 1/3;
}

:host .button ::slotted(stellar-avatar) {
  width: var(--avatar-size);
  visibility: visible !important;
  display: block !important;
  align-self: center;
}

:host .button ::slotted(stellar-tag) {
  margin: auto 0.5rem auto auto;
}

:host .button stellar-asset {
  margin-left: 1rem;
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 80%,rgba(255,255,255,0) 100%);
}

:host .button span {
  margin: auto auto auto 0;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:host([size="small"]) .button {
  padding: 0 1rem;
  height: 3rem;
}

:host stellar-asset.selected {
  animation: fadeInScale 200ms var(--ease);
  font-size: var(--item-size);
  margin-left: auto !important;
  background: transparent;
  color: var(--theme-base5);
  height: calc(var(--item-size) - 1px);
}

:host([fit]) stellar-asset.selected {
  height: 75%;
  font-size: 3em;
  margin-right: 0.125em;
}

:host(:hover) .selected,
:host(:focus) .selected,
:host(:focus-within) .selected {
  color: var(--theme-base7);
}

:host([fit]) stellar-asset {
  right: 1em;
}

:host .button:focus,
:host .button:hover,
:host(:hover),
:host(:focus-within) {
  background: var(--theme-base0);
}

:host(.current) {
  background: white
}

:host([danger]) .button:focus,
:host([danger]) .button:hover  {
  background: var(--red5);
  color: white;
}

:host([simple]) .button {
  background: white !important;
}

:host(.current) stellar-asset {
  display: none;
}

:host stellar-asset.multiple {
  border: 1px solid var(--border-color);
  background: var(--background);
  border-radius: 4px;
  font-size: calc(var(--item-size) * .55);
  width: calc(var(--item-size) * .55);
  height: calc(var(--item-size) * .55);
  margin: 0 0 0 auto;
  left: -1rem;
  position: relative;
  color: transparent;
}

:host stellar-asset.multiple.selected {
  color: var(--white);
  background: var(--theme-base5);
}


:host(.current) .button:focus,
:host(.current) .button:hover,
:host(.current:hover),
:host(.current:focus-within) {
  background: transparent;
}

:host([dark]) .button:focus,
:host([dark]) .button:hover,
:host([dark]:hover),
:host([dark]:focus-within) {
  background: var(--theme-base8);
}

:host([dark].current) .button:focus,
:host([dark].current) .button:hover,
:host([dark].current:hover),
:host([dark].current:focus-within) {
  background: transparent;
}

@keyframes fadeInScale {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
