:host, :host *, :host *:before, :host *:after {
  box-sizing: border-box;
}

:host {
  --margin: .75em;
  line-height: 1.3;
  color: var(--gray9);
  font-size: 1.4rem;
  display: block;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-bottom: var(--margin);
  cursor: pointer;
}

:host([underneath]) {
  margin-top: var(--margin);
  margin-bottom: 0;
  color: var(--gray5);
  font-weight: 600;
  text-transform: initial;
}

:host([size="small"]) {
  font-size: 1.2rem;
}

:host([size="tiny"]) {
  font-size: 1rem;
}

:host label {
  all: inherit;
}

:host-context(.dark-mode):host {
  color: var(--gray0);
}

:host-context(.dark-mode):host([underneath]) {
  color: var(--gray5);
}
