:host, :host *, :host *:before, :host *:after {
  box-sizing: border-box;
}

:host {
  --margin: var(--ms-2);
  line-height: 1.3;
  color: var(--gray9);
  font-size: var(--ms0);
  display: block;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-bottom: var(--margin);
  cursor: pointer;
}

:host([underneath]) {
  margin-top: var(--margin);
  margin-bottom: 0;
  color: var(--gray5);
  font-weight: 600;
  text-transform: initial;
}

:host([size="tiny"]) {
  font-size: var(--ms-2);
}

:host([size="small"]) {
  font-size: var(--ms-1);
}

:host([size="medium"]) {
  font-size: var(--ms1);
}

:host([size="large"]) {
  font-size: var(--ms2);
}

:host label {
  all: inherit;
}

:host([dark]) {
  color: var(--gray0);
}

:host([underneath][dark]) {
  color: var(--gray5);
}
