stellar-header {
  display: block;
  position: relative;
  top: 0;
  z-index: 4;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--gray20);
  background: white;
  width: 100%;
  height: 16rem;
  overflow: hidden;
}

stellar-header stellar-starscape {
  z-index: 0;
}

stellar-header stellar-starscape ~ * {
  z-index: 1;
}

stellar-header[invert] {
  background: var(--blue);
}

stellar-header stellar-asset {
  color: var(--cyan5);
}

stellar-header[invert] stellar-asset {
  color: white;
}

stellar-header > .content {
  display: grid;
  align-items: center;
  margin: auto;
  width: 90%;
  max-width: 1440px;
  height: 100%;
  grid-template-columns: 39px 0 1fr;
  grid-gap: 2rem;
}

stellar-header[mark="full"] > .content {
  grid-template-columns: 39px 0 1fr;
}

stellar-header .left,
stellar-header .right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

stellar-header .left > *,
stellar-header .right > * {
  margin-left: 20px;
}

stellar-header .left > *:first-of-type {
  margin-left: 0;
}

stellar-header .right {
  justify-content: flex-end;
  text-align: right;
  grid-template-columns: 1fr 105px;
}

stellar-header p stellar-button .button {
  display: inline;
}

stellar-header p {
  font-size: 14px;
}

stellar-header stellar-progress {
  position: absolute;
  bottom: -5px;
  width: 100%;
}

.mobile {
  display: block;
}

.otherwise {
  display: none;
}

.medium {
  display: none;
  margin-right: 5px;
}

@media only screen and (min-width: 480px) {
  stellar-header[mark="full"] > .content {
    grid-template-columns: 166px 1fr 1fr;
  }

  .medium {
    display: inline;
  }

  .mobile {
    display: none;
  }

  .otherwise {
    display: block;
  }
}
