stellar-parallax-section {
	grid-area: 1/1;
	transform: translateY(var(--ty));
	will-change: transform;
	contain: content;
}

stellar-parallax-section.double {
	transform: translateY(var(--ty)) scale(1.125);
}