stellar-comment {
	display: block;
}

stellar-comment + stellar-comment {
	margin-top: 1rem;
}

stellar-comment stellar-avatar {
	margin-right: 1rem;
	float: left;
}

stellar-comment .comment > .content {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	padding: 1rem;
	background: white;
	border: 1px solid var(--gray2);
}

stellar-comment .comment > .thread {
	margin: 0 0 0 3rem;
	position: relative;
}

stellar-comment .comment > .thread::after {
	content: "";
	width: .4rem;
	height: calc(100% + 1.5rem);
	position: absolute;
	left: -1.2rem;
	top: -1.5rem;
	z-index: 0;
	background: var(--theme-complement2);
	background: linear-gradient(135deg, var(--theme-complement2) 0%, var(--theme-base2) 100%);
}

stellar-comment .comment > .thread stellar-comment {
	margin: 1rem 0;
}

stellar-comment .comment.empty > .content {
	margin: 0;
}

stellar-comment .comment.empty > .thread {
	display: none !important;
}
