:host, :host *, :host *:before, :host *:after {
  box-sizing: border-box;
}

:host {
  display: block;
  width: 32px;
  height: 32px;
  background: var(--selected-color, var(--red5));
  border: 2px solid var(--selected-color, var(--red5));
  border-radius: 100%;
}

:host .wrap {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

:host .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 200ms var(--ease, ease-out) 100ms, width 200ms var(--ease, ease-out) 100ms, z-index 200ms var(--ease, ease-out) 100ms;
  opacity: 1;
  z-index: 0;
  background: white;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

:host .placeholder[data-selected="true"] {
  opacity: 1;
  z-index: 9;
}

:host button {
  cursor: pointer;
  display: block;
  position: absolute;
  transition: all 400ms var(--ease, ease-out) 100ms;
  opacity: 0;
  border: 0;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  transform: translate3d(34px, 0, 0);
}

:host button.current {
  position: relative;
  border: 2px solid var(--gray2);
  background: var(--white);
  overflow: hidden;
}

:host button.current::after {
  content: "";
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  background: var(--red);
  width: 32px;
  height: 4px;
}

:host([val="none"]),
:host button.none {
  background: white;
  border: 2px solid var(--black);
}

:host([val="none"])::after,
:host button.none::after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 2px);
  top: calc(0% - .2rem);
  width: 4px;
  height: calc(100% + .4rem);
  transform: rotate(45deg);
  background: var(--red5)
}

:host button[data-selected="true"] {
  opacity: 1;
  z-index: 9;
}

:host .wrap {
  position: relative;
  left: -34px;
}

:host .wrap .placeholder {
  opacity: 0;
  z-index: -1;
}

:host .wrap:hover {
  width: 96px;
  height: 204px;
  border-radius: 100%;
}

:host .wrap:hover button {
  opacity: 1;
  z-index: 99;
  height: 32px;
}

:host .wrap:hover button:nth-of-type(1) {
  transform: translate3d(0px, 34px, 0);
}

:host .wrap:hover button:nth-of-type(2) {
  transform: translate3d(34px, 34px, 0);
}

:host .wrap:hover button:nth-of-type(3) {
  transform: translate3d(68px, 34px, 0);
}

:host .wrap:hover button:nth-of-type(4) {
  transform: translate3d(0px, 68px, 0);
}

:host .wrap:hover button:nth-of-type(5) {
  transform: translate3d(34px, 68px, 0);
}

:host .wrap:hover button:nth-of-type(6) {
  transform: translate3d(68px, 68px, 0);
}

:host .wrap:hover button:nth-of-type(7) {
  transform: translate3d(0, 102px, 0);
}

:host .wrap:hover button:nth-of-type(8) {
  transform: translate3d(34px, 102px, 0);
}

:host .wrap:hover button:nth-of-type(9) {
  transform: translate3d(68px, 102px, 0);
}

:host .wrap:hover button:nth-of-type(10) {
  transform: translate3d(0px, 136px, 0);
}

:host .wrap:hover button:nth-of-type(11) {
  transform: translate3d(34px, 136px, 0);
}

:host .wrap:hover button:nth-of-type(12) {
  transform: translate3d(68px, 136px, 0);
}

:host .wrap:hover button:nth-of-type(13) {
  transform: translate3d(0, 170px, 0);
}

:host .wrap:hover button:nth-of-type(14) {
  transform: translate3d(34px, 170px, 0);
}

:host-context(.dark-mode):host([val="none"]),
:host-context(.dark-mode):host button.none {
  background: var(--black) !important;
  border: 2px solid var(--white) !important;
}
