@font-face {
  font-family: "Exodus Standard";
  src: url("exodus-standard-stencil.woff2") format("woff2"),
       url("exodus-standard-stencil.woff") format("woff"),
       url("exodus-standard-stencil.ttf")  format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Exodus Standard";
  src: url("exodus-standard-stencil-bold.woff2") format("woff2"),
       url("exodus-standard-stencil-bold.woff") format("woff"),
       url("exodus-standard-stencil-bold.ttf")  format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Exodus Standard";
  src: url("exodus-standard.woff2") format("woff2"),
       url("exodus-standard.woff") format("woff"),
       url("exodus-standard.ttf")  format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Exodus Standard";
  src: url("exodus-standard-bold.woff2") format("woff2"),
       url("exodus-standard-bold.woff") format("woff"),
       url("exodus-standard-bold.ttf")  format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Exodus Standard";
  src: url("exodus-standard-wide.woff2") format("woff2"),
       url("exodus-standard-wide.woff") format("woff"),
       url("exodus-standard-wide.ttf")  format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Exodus Standard";
  src: url("exodus-standard-wide-bold.woff2") format("woff2"),
       url("exodus-standard-wide-bold.woff") format("woff"),
       url("exodus-standard-wide-bold.ttf")  format("truetype");
  font-weight: 600;
  font-display: swap;
}

.exodus-standard {
  font-family: "Exodus Standard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
