@font-face {
    font-family: 'radnikasemibold_condensed';
    src: url('radnika-semiboldcondensed-webfont.eot');
    src: url('radnika-semiboldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('radnika-semiboldcondensed-webfont.woff2') format('woff2'),
         url('radnika-semiboldcondensed-webfont.woff') format('woff'),
         url('radnika-semiboldcondensed-webfont.ttf') format('truetype'),
         url('radnika-semiboldcondensed-webfont.svg#radnikasemibold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'radnikamedium_condensed';
    src: url('radnika-mediumcondensed-webfont.eot');
    src: url('radnika-mediumcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('radnika-mediumcondensed-webfont.woff2') format('woff2'),
         url('radnika-mediumcondensed-webfont.woff') format('woff'),
         url('radnika-mediumcondensed-webfont.ttf') format('truetype'),
         url('radnika-mediumcondensed-webfont.svg#radnikamedium_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'radnikalight_condensed';
    src: url('radnika-lightcondensed-webfont.eot');
    src: url('radnika-lightcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('radnika-lightcondensed-webfont.woff2') format('woff2'),
         url('radnika-lightcondensed-webfont.woff') format('woff'),
         url('radnika-lightcondensed-webfont.ttf') format('truetype'),
         url('radnika-lightcondensed-webfont.svg#radnikalight_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'radnikabold_condensed';
    src: url('radnika-boldcondensed-webfont.eot');
    src: url('radnika-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('radnika-boldcondensed-webfont.woff2') format('woff2'),
         url('radnika-boldcondensed-webfont.woff') format('woff'),
         url('radnika-boldcondensed-webfont.ttf') format('truetype'),
         url('radnika-boldcondensed-webfont.svg#radnikabold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'radnikablack_condensed';
    src: url('radnika-blackcondensed-webfont.eot');
    src: url('radnika-blackcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('radnika-blackcondensed-webfont.woff2') format('woff2'),
         url('radnika-blackcondensed-webfont.woff') format('woff'),
         url('radnika-blackcondensed-webfont.ttf') format('truetype'),
         url('radnika-blackcondensed-webfont.svg#radnikablack_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}