stellar-accordion {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

stellar-accordion + stellar-accordion,
stellar-item + stellar-accordion,
stellar-accordion + stellar-item {
  border-top: 1px solid var(--gray1);
}

stellar-accordion .expander {
  transition: all 0.35s ease-out 0.1s, opacity 0.25s ease-out 0s;
  opacity: 0;
  padding: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-30px);
}

stellar-accordion .expander.open {
  transition: all 0.3s ease-in-out 0s, opacity 0.175s ease-in-out 0.175s, overflow 0s ease-in-out 0.2s;
  opacity: 1;
  padding: 2rem 0;
  max-height: calc(var(--accordion-height, 200vh) + 6rem);
  overflow: visible;
  transform: translateY(0px);
}

stellar-accordion .expander stellar-item {
  padding-left: 1rem;
}

stellar-accordion .expander stellar-item:last-of-type {
  margin-bottom: .5rem;
}

stellar-accordion[tight] .expander.open {
  padding: 0;
}

stellar-accordion .wrap .button-wrap {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  height: 48px;
  padding: 0 1rem;
  color: var(--blue5);
}

stellar-accordion .wrap .button-wrap stellar-item button.button {
  padding: 0;
}

stellar-accordion .chevron {
  color: var(--gray4);
  margin-left: auto;
  transition: all 200ms ease-in-out 0s;
}

stellar-accordion[open] .chevron {
  transform: rotate(180deg);
}

stellar-accordion .wrap .button-wrap stellar-button {
  --color: var(--gray9);
}
