:host, :host *, :host *:before, :host *:after {
  box-sizing: border-box;
}

:host {
  --color: var(--theme-base7);
  --focus-color: var(--theme-base8);
  --active-color: var(--theme-base9);
  --font-size: 1rem;
  --font-weight: 600;
  --height: 100%;
  --button-padding: 0 0.25em;
  display: block;
  z-index: 2;
  position: relative;
  font-size: var(--font-size);
  height: var(--height);
  font-family: inherit;
}

:host .tab-wrap {
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: -1px 0.25em;
  padding: var(--padding);
  color: var(--color);
  font-size: var(--font-size);
  height: var(--height);
}

:host .tab-wrap stellar-tag {
  position: absolute;
  top: 1px;
  right: -10px;
}

:host .tab-wrap .tab-button {
  appearance: none;
  background: transparent;
  border: 0;
  font-size: var(--font-size);
  display: inline-flex;
  position: relative;
  justify-content: center;
  transition: color 0.2s;
  outline: none;
  padding: var(--button-padding);
  text-decoration: none;
  line-height: var(--ms1);
  color: var(--color);
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-family: inherit;
}

:host .tab-wrap stencil-route-link {
  display: inline-flex;
}

:host .tab-wrap .tab-button:hover,
:host .tab-wrap .tab-button:focus {
  color: var(--focus-color);
}

:host([open]) .tab-wrap .tab-button {
  color: var(--active-color);
}

:host .tab-wrap .tab-button span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

:host([vertical]) .tab-wrap .tab-button span {
  width: 100%;
  height: 100%;
  text-align: left;
  justify-content: flex-start;
}

:host .tab-wrap .tab-button span ::slotted(stellar-asset) {
  line-height: 0;
  margin-right: 0.25em;
}

:host .tab-wrap .tab-button span ::slotted(stellar-asset) {
  line-height: 0;
  margin-right: 0.25em;
}

:host .tab-wrap .tab-button span ::slotted(stellar-avatar) {
  line-height: 0;
  margin: -1.175em 0.5em -1.075em -0.5em;
}

:host([disabled="true"]) .tab-wrap {
  cursor: not-allowed;
  color: var(--theme-color-disabled);
}

:host([disabled="true"]) .tab-wrap * {
  cursor: not-allowed;
}

:host([disabled="true"]) .tab-wrap .notifications {
  background: var(--theme-color-disabled);
}

:host([dark]) .tab-wrap .tab-button,
:host([dark]) .tab-wrap .tab-button {
  color: var(--theme-base2);
}

:host([dark]) .tab-wrap .tab-button:hover,
:host([dark]) .tab-wrap .tab-button:focus {
  color: var(--theme-base0);
}

:host([open][dark]) .tab-wrap .tab-button {
  color: var(--white);
}
