:host {
  display: block;
  z-index: 2;
  position: relative;
  font-size: var(--font-size);
  height: 100%;
}

:host .tab-wrap {
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: -1px 0.25em;
  padding: 0 0.25em;
  color: var(--theme-base8);
  font-size: var(--font-size);
  height: 100%;
}

:host-context(stellar-tabs[vertical]):host .tab-wrap,
:host-context(stellar-tabs[vertical]):host .tab-button {
  justify-content: left !important;
}

:host .tab-wrap stellar-tag {
  position: absolute;
  top: 1px;
  right: -10px;
}

:host .tab-wrap > .tab-button {
  appearance: none;
  background: transparent;
  border: 0;
  font-size: var(--font-size);
  display: inline-flex;
  position: relative;
  justify-content: center;
  transition: color 0.2s;
  outline: none;
  padding: 0 1em;
  text-decoration: none;
  line-height: 1;
  color: var(--theme-base8);
  width: 100%;
  height: 100%;
  cursor: pointer;
}

:host .tab-wrap > .tab-button:hover,
:host .tab-wrap > .tab-button:focus {
  color: var(--theme-base9);
}

:host([open]) .tab-wrap > .tab-button {
  color: var(--theme-base9);
}

:host .tab-wrap > .tab-button span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: var(--font-size);
  font-weight: 600;
}

:host .tab-wrap > .tab-button span ::slotted(stellar-asset) {
  line-height: 0;
  margin-right: 0.25em;
}

:host .tab-wrap > .tab-button span ::slotted(stellar-asset) {
  line-height: 0;
  margin-right: 0.25em;
}

:host .tab-wrap > .tab-button span ::slotted(stellar-avatar) {
  line-height: 0;
  margin: -1.175em 0.5em -1.075em -0.5em;
}

:host([disabled="true"]) .tab-wrap {
  cursor: not-allowed;
  color: var(--theme-color-disabled);
}

:host([disabled="true"]) .tab-wrap * {
  cursor: not-allowed;
}

:host([disabled="true"]) .tab-wrap .notifications {
  background: var(--theme-color-disabled);
}

:host-context(.dark-mode):host .tab-wrap > .tab-button,
:host-context(.dark-mode):host .tab-wrap > .tab-button {
  color: var(--theme-base2);
}

:host-context(.dark-mode):host .tab-wrap > .tab-button:hover,
:host-context(.dark-mode):host .tab-wrap > .tab-button:focus {
  color: var(--theme-base0);
}

:host-context(.dark-mode):host([open]) .tab-wrap > .tab-button {
  color: var(--white);
}


:host-context(.dark-mode):host-context(stellar-tabs[block]):host([open]) .tab-wrap > .tab-button {
  color: var(--theme-base9);
}
