stellar-animate-text {
  display: inline-block;
  position: relative;
}

stellar-animate-text .letter {
  display: inline-block;
}

stellar-animate-text .letter {
  opacity: 0;
}

stellar-animate-text[method="retro"] .letter:not(:first-of-type) {
  position: absolute;
  top: calc(var(--iteration) * 7vh);
  left: 0;
  right: 0;
  color: var(--theme-complement5);
  z-index: calc(-1 * var(--iteration));
  mix-blend-mode: color;
}

stellar-animate-text[method="retro"] .letter:first-of-type {
  z-index: 3;
}

stellar-animate-text[method="retro"] .letter:nth-of-type(2) {
  top: 0;
}
